html{min-height:100%;position:relative;}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h6 {
  color: #fff;
}

.Contact {
  color: #fff;
  background-color: transparent;
}

.Contact .MuiPaper-outlined {
  color: #fff;
  background-color: transparent;
}

.Event {
  overflow: hidden;
  background-color: transparent;
}

.Event .MuiPaper-outlined  {
  color: #fff;
  background-color: transparent;
}

.Contact-list {
  color: #fff;
  font-weight: 900
}

.Contact .jlYRbo {
  width: 85%;
}
.Contact-list .MuiPaper-rounded  {
  color: #fff;
  background-color: transparent;
  box-shadow: none;
  font-weight: 900;
}

.Contact-list .MuiTypography-colorTextSecondary {
  color: rgba(225, 255, 255, 0.84);
}


.Event-text {
  background: linear-gradient(#fc8989d9, #ff766cf2), url(https://i.imgur.com/senEhn5.jpg) center !important;
  background-size: contain;
  color: #fff !important;
  /* box-shadow: none !important; */
  border: none !important;
}

.MuiTypography-colorTextSecondary {
  color: rgba(225, 255, 255, 0.94) !important;
}

.MuiDivider-root {
  border: none;
  height: 1px;
  margin: auto !important;
  width: 80%;
  flex-shrink: 0;
  background-color: rgba(16, 16, 16, 0.12);
}

.iOOVlW {
  display: -webkit-box !important;
}

.pushed {
  height: 0.1px;
  width: 20vw;
}