body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h6 {
  color: #fff;
}

.Contact {
  color: #fff;
  background: linear-gradient(#0781FF, #6946CB);
}

.Contact .MuiPaper-outlined {
  color: #fff;
  background: linear-gradient(#0781FF, #6946CB);
}

.Event {
  overflow: auto;
  background-color: #4E2B8B;
}

.Event .MuiPaper-outlined  {
  color: #fff;
  background-color: #4E2B8B;
}

.Contact-list {
  color: #fff;
  font-weight: 900
}

.Contact-list .MuiPaper-rounded  {
  color: #fff;
  background-color: transparent;
  box-shadow: none;
  font-weight: 900;
}

.Contact-list .MuiTypography-colorTextSecondary {
  color: rgba(225, 255, 255, 0.84);
}


.Event-text {
  background: linear-gradient(#ff3a3aeb, #ff2e2ee0), url(https://i.imgur.com/senEhn5.jpg) center !important;
  background-size: contain;
  color: #fff !important;
  box-shadow: none !important;
  border: none !important;
}

.MuiTypography-colorTextSecondary {
  color: rgba(225, 255, 255, 0.94) !important;
}